# OS / Editor
.DS_Store
.vscode/

# Virtualenvs
.venv/
venv/

# Python caches
__pycache__/
*cache*
.pytest_cache/

# Coverage / testing
.coverage
coverage.xml
htmlcov/
.hypothesis/

# Local scratch dir
scratch/

# Mutation testing
# Cosmic Ray artifacts
*.sqlite
cr/*.sqlite
cr/*.html
cr/*.svg
mutation-report.html
*.mutation.html
mutation.svg

# Mutmut cache
.mutmut-cache/
